<h1>Home Page Searching for movie</h1>

<!-- have to action and method attribute in order to do the post request-->
<form action="/search" method="GET">
    <input type="text" name = "movieName" placeholder ="Please enter..."></input>
    <input type = "submit"></input>
</form>